<div class="row" style="text-align: left">
  <div class="col-sm-8">


    <h3 style="font-weight: bold; font-size: xx-large"><i class="fa fa-shield"></i>Create an account</h3>
    <h3 style="font-weight: normal; font-size: large"><i class="fa fa-shield"></i>It's free and always will be.</h3>

    <div class="form-group">
      <div class="row">
      <div class="col-sm-6"><input type="text" class="form-control" placeholder="First name"></div>
      <div class="col-sm-6"><input type="text" class="form-control" placeholder="Surname"></div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Mobile number or email address">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="New password">
    </div>

    <div class="">
      <label>Birthday</label>
      <div class="form-group">
        <div class="col-sm-2">
          <select >
            <option>27</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select>
            <option>Oct</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select>
            <option>2017</option>
          </select>
        </div>
        <div class="col-sm-5" style="font-size: xx-small ; margin-left: 10px">
          Why do I need to provide my date of birth?
        </div>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <input type="checkbox" class="checkbox-round" id="checkbox-roundF" title="female">
        <label for="checkbox-roundF">Female</label>
      </div>
      <div class="col-sm-3">
        <input type="checkbox" class="checkbox-round" id="checkbox-roundM" title="female">
        <label for="checkbox-roundM">Male</label>
      </div>
    </div>
    <div class="row">
    <h6 style="font-size: x-small" class="col-sm-10">
      By clicking Create an account, you agree to our Terms and confirm that you have read our Data Policy, including our Cookie Use Policy. You may receive SMS message notifications from Facebook and can opt out at any time.
    </h6>
    </div>
    <div style="height:10px;"></div>
      <button id="create-account" class="btn btn-primary">Create an account</button>
    </div>

</div>
